* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: #2D3D50;
    color: #F0F0F0;
    
}
h1{
    color: #F0F0F0;
    text-align: center;
    font-size: 80px;
    font-family: 'Arial', sans-serif;
    margin-top: 40px;
    font-weight: 700;
    
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 100px;
}
.btn{
    text-decoration: none;
  background-color: #3498DB;
  color: white;
  padding: 20px 30px;
  border-radius: 10px;
  border: none;
  font-size: 40px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #2980B9;
}
.btn:active {
  background-color: #1A5276;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(2px);
}